.tm-dialog-body {
  .recharts-wrapper {
    width: 100% !important;
    height: 100% !important;

    svg {
      overflow: visible;
      width: calc(100% - 50px);
      height: 100%;

      text {
        fill: rgb(102, 102, 102);
      }
    }
  }
}
