@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap');

.rd-routing-menu {
  z-index: 1;
  position: absolute;
  width: 500px;
  max-width: 500px;
  flex-grow: 1;
  left: 10px;
  top: 10px;

  .rd-routing-menu-header {
    display: flex;
  }

  .rd-mot-checkbox {
    display: flex;
    align-items: center;
    padding-top: 10px;
  }

  .rd-route-buttons {
    display: flex;
    padding: 5px 0 10px 12px;

    .rd-button-root,
    .rd-button-disabled {
      background-color: white;
      text-transform: none;
      box-shadow: none;

      p {
        padding-left: 8px;
      }
    }

    .rd-button-root {
      svg {
        color: #3f51b5;
      }

      &:hover {
        background-color: rgba(0, 0, 0, 0.05);
      }
    }

    .rd-button-active {
      background-color: rgba(0, 0, 0, 0.1);
    }

    .rd-button-disabled {
      svg {
        color: rgba(0, 0, 0, 0.26);
      }

      color: rgba(0, 0, 0, 0.26);
    }
  }

  .stopsContainer {
    max-height: 70vh;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 0.5rem 0;
  }
}

@media (min-width: 768px) {
  .rd-routing-menu {
    width: 500px;
    max-width: 500px;
  }
}

@media (min-width: 551px) and (max-width: 767px) {
  .rd-routing-menu {
    width: 370px;
    max-width: 370px;
  }
}

@media (min-width: 481px) and (max-width: 550px) {
  .rd-routing-menu {
    width: 350px;
    max-width: 350px;
  }
}

@media (max-width: 480px) {
  .rd-routing-menu {
    width: 280px;
    max-width: 280px;
  }
}

@media (max-width: 420px) {
  .rd-routing-menu {
    width: 280px;
    max-width: 280px;
  }
}
