@import '~ol/ol.css';

.rs-map {
  position: absolute;
  top: 0;
  bottom: 24px;
  right: 0;
  left: 0;
}

.rs-copyright {
  position: absolute;
  bottom: 28px;
  left: 5px;
  margin-right: 75px;
  font-size: 0.8em;
  color: #555;

  a {
    color: #555;
  }
}
